<section id="banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="slide">
                <h1 class="promo-title">LET'S START THE GAME </h1>
                <p style="font-size: large; color: #000; line-height: 30px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos illo nisi, autem veniam veritatis voluptatibus minima libero voluptates excepturi laudantium! Nobis corporis repellendus, praesentium atque pariatur aspernatur consectetur maiores sed?</p>
                <button type="button" class="btn btn-light btn-lg">Begin</button>
                </div>
            </div>
            <div class="col-md-6 fadeOut">
                <img src="assets/img/meeting.png" width="100%" height="100%">
            </div>
        </div>
    </div>
<img src="assets/img/wave.png" class="bottom-img">
</section>
