.layout
{
    margin-top: 100px;
    background-image: url(src/assets/img/purple_ring.png);
   
}
.header
{
    color: #00c1c2;
}
.para
{
    color: black;
}
.btn
{
    background-image: linear-gradient(255deg,#00c1c2 0%,#03d59f 100%);
}
 