<section class="layout text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="purple">
                    <h1 class="header">WHAT DO WE DO?</h1>
                    <p class="para">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id eveniet, repudiandae cupiditate excepturi illo provident itaque minus natus suscipit dolor numquam placeat debitis perspiciatis nostrum quam nulla facere alias omnis?</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/forming_idea.png"  height="200px" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Art</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/thought.png" height="200px" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Buisiness</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/concept.png" height="200px" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Science</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn">Go somewhere</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>
